- if flash[:notice]
  %div.alert#notice
    %button{class: 'close', data: {dismiss: 'alert'}} &times;
    %p#notice= flash[:notice]
- if flash[:alert]
  %div.alert.alert-error
    %a{class: 'close', data: {dismiss: 'alert'}, href: '#'} &times;
    = flash[:alert]
