- model_class = Deal.new.class
%ul.thumbnails
  - @deals.each do |deal|
    %li.span3
      = image_tag "http://placehold.it/180x180&text=#{deal.name} pic", class: 'img-rounded'
      %div.rating.stars_1 


