
ul.breadcrumb
  background-color: transparent
  background-image: none
  border: none
  box-shadow: none
  .active
    a
      color: whitesmoke
  li
    text-shadow: none
.thumbnail
  margin-bottom: 10px
.btn-block
  width: 100%
.img-rounded
  border-radius: 15px

.nav-center-vertical
  padding-top: 20px
  p
    padding-top: 3px
    margin: 0 8px -4px 8px
    color: grey
.rating
  margin: auto
  width: 100px
  height: 20px
  text-index: -9327px
  background:
    image: url("rating_stars.png")
  &.stars_0
    background-position: 0px 0px
  &.stars_05
    background-position: 0px 220px
  &.stars_1
    background-position: 0px 200px
  &.stars_15
    background-position: 0px 180px
  &.stars_2
    background-position: 0px 160px
  &.stars_25
    background-position: 0px 135px
  &.stars_3
    background-position: 0px 110px
  &.stars_35
    background-position: 0px 90px
  &.stars_4
    background-position: 0px 65px
  &.stars_45
    background-position: 0px 45px
  &.stars_5
    background-position: 0px 25px
.buy
  margin-top: 20px
  background: #254976
  color: whitesmoke
  &:hover
    background: #254976
    color: grey
.box
  border-color: grey
  border: solid 1px
  border-radius: 8px
  min-height: 400px
  background-color: whitesmoke
  .top
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    background: #254976
    color: whitesmoke
    margin-bottom: 15px
    h2
      text-align: center
  .middle
    .item
      padding-left: 25px
      .title
        font-weight: bold
      .special
        padding-left: 35px
      .price
        float: right
        padding-right: 25px
