.wooden
  background:
    image: url("wood.png")
.modal
  border-radius: 25px
ul.breadcrumb
  background-color: transparent
  background-image: none
  border: none
  box-shadow: none
  .active
    a
      color: whitesmoke
  li
    text-shadow: none
.thumbnail
  margin-bottom: 10px
.btn-block
  width: 100%
.img-rounded
  border-radius: 15px
.navbar
  .nav
    li
      a
        padding: 4px 10px 4px 10px
        &:visited
          text-decoration: none
          color: white
          
.nav-center-vertical
  padding-top: 20px
  p
    padding-top: 3px
    margin: 0 8px -4px 8px
    color: grey
.rating
  width: 100px
  height: 20px
  text-index: -9327px
  background:
    image: url("rating_stars.png")
  &.stars_00
    background-position: 0px 0px
  &.stars_05
    background-position: 0px 220px
  &.stars_10
    background-position: 0px 202px
  &.stars_15
    background-position: 0px 180px
  &.stars_20
    background-position: 0px 158px
  &.stars_25
    background-position: 0px 135px
  &.stars_30
    background-position: 0px 114px
  &.stars_35
    background-position: 0px 90px
  &.stars_40
    background-position: 0px 69px
  &.stars_45
    background-position: 0px 45px
  &.stars_50
    background-position: 0px 25px
.buy
  margin-top: 20px
  background: #254976
  color: whitesmoke
  &:hover
    background: #254976
    color: grey
.box
  border-radius: 8px
  min-height: 400px
  background-color: whitesmoke
  .top
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    background: #254976
    color: whitesmoke
    margin-bottom: 15px
    h2
      text-align: center
  .middle
    .item
      padding-left: 25px
      .title
        font-weight: bold
      .special
        padding-left: 35px
      .price
        float: right
        padding-right: 25px
#cart_items
  padding-left: 15px
  font-weight: bold
  div.name
    margin-top: 25px
    .close
      margin-top: -3px
      padding-right: 5px
  div.price
    float: right
    margin-top: -5px
    padding-right: 25px
#cart_total
  top: 500px
  position: absolute
  padding-left: 15px
  font-weight: bold
  div.name
    margin-top: 25px
    .close
      margin-top: -3px
      padding-right: 5px
  div.total
    float: right
    margin-top: -5px
    padding-right: 25px

#push
  height: 10px

#footer
  bottom: 0
  height: 60px
  color: #ddd
  .last
    display: none
  span.divider
    color: #ddd
  a
    color: #ddd
    &:visited
      color: #ddd

