.container
  %ul.breadcrumb
    %li
      &copy; Lunchon.co 2013
      %span.divider &middot;
    %li
      = link_to image_tag('facebook-logo.png', size: "35x35"), 'http://facebook.com/lunchon.co', target: "_blank"
      %span.divider &middot;
    %li
      = link_to image_tag('twitter-logo.png', size: "35x35"), 'http://twitter.com/getyourlunchon', target: "_blank"
      %span.divider &middot;
    - if user_signed_in?
      %li
        = link_to "Log Out", destroy_user_session_path, method: 'delete'
        %span.divider.last &middot;
    - else
      %li
        = link_to "Log In", new_user_session_path
        %span.divider.last &middot;

